*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.html{
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(images/bg-intro-mobile.png);
    background-color:hsl(0, 100%, 74%);
    background-repeat: no-repeat;
    margin-left: 20px;
    font-size: 16px;
}
.header{
    margin: 50px 20px 30px 0;
    text-align: center;
    color: white;
}
.header h2{
    margin: 0px 30px 20px 0px;
}
 .main button{
    height: 60px;
    width: 90%;
    margin-bottom: 30px;
    text-align: center;
background-color:hsl(248, 32%, 49%) ;
    border-radius: 10px;
    color: white;
    border-width: 0;
    padding: 0px 60px 0px 60px;
    margin-top: 30px;
}
.btn span{
    font-size: x-small;
}
.form{
    height: 85%;
    width: 90%;
    background-color: white;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 50px;

}
.form form input {
    margin: 10px;
    border-radius: 4px;
}
.form input{
    text-align: justify;
    padding: 10px;
    /* box-sizing: content-box; */
    width: 90%;
     border-radius: 2px;
     border-width: 0.5px;
     border-color:gray;
     height: 30px;
     color:hsl(246, 25%, 77%) ;
     margin-left: 10px;
     font-size: 12px;

   
}
.form button{
    height: 40px;
    width: 90%;
    color: white;
    background-color:hsl(154, 59%, 51%) ;
    border-radius: 5px;
    border-width: 0;
    /* text-align: left; */
    /* font-size: 8px; */
    padding-left: 0px;
    padding-right: 0px;
    
}
.form p{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 10px;
}
.form span{
    color:red ;
}
@media screen and (min-width:1024px) {
   .main{
       display: flex;
       /* flex-direction: row; */
       justify-content: space-evenly;
   } 
   .filling{
       width: 45%;
      margin-top: 30px;
   }
   .header{
       /* padding: 100px 200px 0px 100px; */
       text-align: left;
       width: 45%;
       margin-top: 200px;
       margin-left: 40px;
       margin-right: 30px;
       letter-spacing: 1px;
       line-height: 20px;
   }
   .form{
       height: 70%;
       
   }
   .header h2{
       font-weight: 700;
       font-size: 2rem;
   }
   body{
       background-image:url(images/bg-intro-desktop.png);
   }
  .header p{
       width: 70%;
   }
}